{% extends 'base.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="{% url 'products:product_list' %}" 
               class="list-group-item list-group-item-action {% if not category %}active{% endif %}">
                All Categories
            </a>
            {% for cat in categories %}
                <a href="{{ cat.get_absolute_url }}/{{ cat.slug }}" 
                   class="list-group-item list-group-item-action {% if category.slug == cat.slug %}active{% endif %}">
                    {{ cat.name }}
                </a>
            {% endfor %}
        </div>
    </div>
    
    <div class="col-md-9">
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        {% else %}
                            <img src="{% static 'images/no-image.jpg' %}" class="card-img-top" alt="No image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                            <p class="h4">${{ product.price }}</p>
                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                {% csrf_token %}
                                <div class="input-group mb-3">
                                    <input type="number" name="quantity" value="1" min="1" class="form-control" style="max-width: 80px;">
                                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col">
                    <div class="alert alert-info">No products available.</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}